.json-grid-container {
  display: inline-block;
  margin: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #222;
}

.json-grid-table {
  border-collapse: separate;
  border-spacing: 0;
  border: solid #b5b5b5 1px;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc;
}

.highlight {
  background-color: #3b3b3b;
  font-weight: bold;
}

.obj {
  border: 1px solid #474747;
  padding: 3px 10px;
  cursor: pointer;
  white-space: nowrap;
}

.obj .name {
  color: white;
}

.obj .index {
  color: #949494;
}

.obj .number,
.obj .boolean {
  color: #6c99bb;
}

.obj .string {
  color: #a5c261;
}

.obj .object {
  color: white;
}

.order {
  background-color: #444;
  color: white;
}

.key {
  vertical-align: top;
}

.title {
  font-weight: bold;
}

.plusminus {
  font-size: 15px;
  cursor: pointer;
  margin-right: 2px;
}

.search-highlight {
  background-color: #565a36;
  padding: 1px 5px;
  border-radius: 2px;
}

.glyphicon {
  position: relative;
  top: 3px;
  display: inline-block;
}
